/* --- Proprietà generali --- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.container{
  width: 90%;
  margin: 0 auto;
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
.overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.3;
  border-radius: 20px;
}

/* --- Proprietà header --- */
header{
  min-height: 100px;
}
 /* --- Logo --- */
header img{
  width: 200px;
  margin-top: 5px;
  padding-right: 10px;
  border-right: 1px solid #cecece;
}
header nav{
  margin-top: 20px;
}
  /* --- Proprietà lista barra nav --- */
header ul > li{
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}
header li a{
  font-size: 20px;
  color: grey;
  text-decoration: none;
}
  /* --- Uso header.container per evitare conflitti di importanza sul margine inferiore (avrei pututo usare anche "header, main, footer" al posto di .container oppure !important nella proprietà) --- */
header.container, .jumbo{
    margin-bottom: 30px;
}

/* --- Proprietà main --- */
.jumbo{
  height: 500px;
  border-radius: 20px;
  color: white;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
  /* --- Sezione testo nel jumbo --- */
.jumbo .sezione-text{
  position: absolute;
  z-index: 100;
  bottom: 10%;
  left: 5%;
}
  /* --- Testo principale --- */
.jumbo .top-text{
  font-size: calc(20px + 0.8vw);
  font-weight: 400;
}
  /* --- Testo secondario --- */
.jumbo .down-text{
  font-size: calc(15px + 0.2vw);
  font-weight: 300;
}

/* --- Titolo Row ---  */
.titolo{
  font-size: calc(25px + 0.8vw);
  font-family: sans-serif;
}
.sottotitolo{
  font-size: calc(15px + 0.3vw);
  font-weight: normal;
  color: grey;
}

/* --- Riga contenente i float element */
.row{
min-height: 30px;
margin: 20px 0 50px;
}
  /* --- Elementi float --- */
.aside, .center{
  float: left;
  word-wrap: break-word;
}
.aside{
  width: 20%;
}
.center{
  width: 56%;
  margin: 0 2%;
}
  /* --- Badge img sfondo --- */
  /* --- Proprità generiche img sfondo --- */
.immagine-sfondo{
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 220px;
  border-radius: 20px;
  position: relative;
}
.immagine-sfondo:hover .overlay, .jumbo:hover .overlay{
  opacity: 0.1;
  transition: opacity 0.7s;
}

  /* --- Proprità specifiche img sfondo --- */
.immagine-sfondo#sx{
    background-image: url("../img/img-1.jpg");
}
.immagine-sfondo#centr{
    background-image: url("../img/banner-2.jpg");
}
.immagine-sfondo#dx{
    background-image: url("../img/img-3.jpg");
}

  /* Titoletto colonna e testo */
.aside > .sottotitolo, .center > .sottotitolo{
  color: black;
  font-size: 15px;
  margin: 12px 0;
}
.aside > .testo, .center > .testo{
  color: grey;
  font-size: 14px;
}

/*  --- Proprietà footer --- */
footer{
  height: 50px;
  font-size: 15px;
  text-align: center;
  text-decoration: overline;
  text-decoration-style: wavy;
}
footer > i{
  color: red;
  vertical-align: middle;
}
