/* --- Proprietà generali --- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.container{
  width: 90%;
  margin: 0 auto;
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

/* --- Proprietà header --- */
header{
  min-height: 100px;
}
 /* --- Logo --- */
header img{
  width: 200px;
  margin: 5px 0 0px;
  padding-right: 10px;
  border-right: 1px solid #cecece;
}
header nav{
  margin-top: 20px;
}
  /* --- Proprietà lista barra nav --- */
header ul > li{
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}
header li a{
  font-size: 20px;
  color: grey;
  text-decoration: none;
}
  /* --- Uso header.container per evitare conflitti di importanza sul margine inferiore (avrei pututo usare anche "header, main, footer" al posto di .container oppure !important nella proprietà) --- */
header.container, .jumbo{
    margin-bottom: 30px;
}

/* --- Proprietà main --- */
.jumbo{
  height: 500px;
  border-radius: 20px;
  color: white;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
  /* --- Sezione testo nel jumbo --- */
.jumbo .sezione-text{
  position: absolute;
  z-index: 100;
  bottom: 10%;
  left: 5%;
}
  /* --- Testo principale --- */
.jumbo .top-text{
  font-size: calc(18px + 1vw);
  bottom: 0;
  font-weight: 400;
}
  /* --- Testo secondario --- */
.jumbo .down-text{
  font-size: calc(5px + 1vw);
  font-weight: 300;
}
.overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.3;
  border-radius: 20px;
}

/* --- Titolo Row ---  */
.titolo{
  font-size: calc(25px + 1vw);
  font-family: sans-serif;
}
.sottotitolo{
  font-size: calc(8px + 1vw);
  font-weight: normal;
  color: grey;
}
/* --- Riga contenente i float element */
.row{
min-height: 30px;
margin: 20px 0;
}
  /* --- Elementi float --- */
.aside, .center{
  float: left;
}
.aside{
  width: 20%;
}
.center{
  width: 56%;
  margin: 0 2%;
}
  /* --- Badge img sfondo --- */
  /* --- Proprità generiche img sfondo --- */
.immagine-sfondo{
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 220px;
  border-radius: 20px;
  position: relative;
}
  /* --- Proprità specifiche img sfondo --- */
.immagine-sfondo#sx{
    background-image: url("../img/img-1.jpg");
}
.immagine-sfondo#centr{
    background-image: url("../img/banner-2.jpg");
}
.immagine-sfondo#dx{
    background-image: url("../img/img-3.jpg");
}

/*  --- Proprietà footer --- */
footer{
  height: 50px;
  font-size: 15px;
  text-align: center;
}
footer > i{
  color: black;
  vertical-align: middle;
}
